body{
    margin: 0;
    font-family: "Reddit Mono", monospace;
}
.nav{
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.669);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
}
.main{
    color: azure;
    height: 100vh;
    width: 100%;
    background-image: url("img/bg.svg");
    background-size: cover;
}
.logo-box{
    height: 70px;
    width: 70px;
    position: absolute;
    left: 30px;
}
.logo-box img{
    height: 100%;
    width: 100%;
}
.title{
   font-size: 90px; 
   text-align: center;
 
}
.model{
    color: #4680ff;
    
}
.cursorx{
    font-size: 40px;
}
.model1{
    color: blueviolet;
}
.code{
    color: rgb(207, 25, 25);
}
.othertx{
    color: rgb(97, 97, 97);
    padding-top: 50px;
}
.cv-btn{
    height: 45px;
    width: 220px;
    background-color: #4681ff00;
    color: #4680ff;
    border: 1px solid #4680ff;
    font-size: 15pt;
    border-radius: 4px;
    transition: all 0.7s;
}
.cv-btn:hover{
    background-color: #4680ff;
    color: #fff;
    cursor: pointer;
}
.side-nav{
  padding: 10px;
  opacity: 0.2;
  position: fixed;
  top: 20%;
  z-index: 100;
  border-radius: 100px;
  height: auto;
  width: auto;
  left: 0;
  background-color: black;
}
.side-nav:hover{
  opacity: 1;
}
.side-nav i{
  color: #FFFFFF;
  font-size: 30px;
}
.side-nav i:hover{
  color: #FF6464;
  font-size: 30px;
  
}
.icon-box:hover .side-nav{
  opacity: 1;
}
.type-box{
  height: 120px;
  width: 90%;
}





  
 /* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
    .title{
        font-size: 60px; 
        text-align: center;
      
     }
     .cursorx{
        font-size: 30px;
    } 
  }
  











  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 600px) {
    .title{
        font-size: 30px; 
        text-align: center;
      
     }
     .cursorx{
        font-size: 25px;
    }
  }















